// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  overflow-x: hidden !important;
}
.footer-logo-container {
  max-height: 150px;
  text-align: center;
  width: 100%;
  text-overflow: hidden;
  margin-top: 25px;
  margin-bottom: 50px;
}

.spotlight .content.no-image {
  text-align: left; 
  width: 100%;
}

.success-message{
  color: green;
  background-color: #cdeccd;
  text-align: center;
  padding: 5px;
  display: none;
  border-radius: 5px;

}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}